*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.tarjeta {
    width: 450px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;;
    border-radius: 4%;
}

.fondo{
    background: linear-gradient(to right,#ff3867 ,#ffc873,#d37ec6);
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.lisa{
    width:100%;
    border-radius: 2% 2% 0% 0%;
    border-bottom: red solid 5px;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.contenido h1, div ,p{
    margin-bottom: 15px;
}

button{
    border-radius: calc( 20px);
    width: 120px;
    height: 4em;
}

button a{
    text-decoration: none;
    font-size: 1rem;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

.avatar{
    text-align: center;
}

